/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');*/

.PostcardView{
    background: linear-gradient(119.91deg, #B3CCFF -13.72%, #B3D9FF 50.6%, #BFEAFF 105.42%);
}
.PostcardView .PostcardView__text, .PostcardView .PostcardView__btn{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
.PostcardView .PostcardView__text{
    padding: 5px 8px;
    font-size: 16px;
    color: #39434C;
    text-align: center;
}
.PostcardView .PostcardView__btn{
    padding: 12px 0;
    background: linear-gradient(92.1deg, #FF8C1A -22.43%, #FFD70D 105.67%);
    /* Свечение на кнопках */
    box-shadow: 0 12px 20px rgba(255, 250, 242, 0.3), 0 3px 6px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: white;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
.PostcardView .section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*transition: .5s;*/
}

.PostcardView .envelope_ready{
    transform: perspective(1600px) translateY(20%) rotateX(90deg) rotateY(30deg) scaleX(0.001) !important;
    opacity: 0 !important;
}

.PostcardView .envelope{
    position: relative;
    opacity: 1;
    max-width: 100vw;
    height: 274px;
    transform: translateY(20%);
    cursor: pointer;
    -webkit-box-shadow: 10px 20px 50px rgba(115, 155, 191, 0.75);
    -moz-box-shadow: 10px 20px 50px rgba(115, 155, 191, 0.75);
    box-shadow: 10px 20px 50px rgba(115, 155, 191, 0.75);
    transition: 0.5s;
}

.PostcardView .envelope:hover{
    -webkit-box-shadow: 10px 20px 50px rgba(115, 155, 191, 0.8);
    -moz-box-shadow: 10px 20px 50px rgba(115, 155, 191, 0.8);
    box-shadow: 10px 20px 50px rgba(115, 155, 191, 0.8);

}
.PostcardView .env_clear.envelope, .PostcardView .env_clear.envelope:hover{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.PostcardView .env_clear .envelope_top, .PostcardView .env_clear .envelope_back, .PostcardView .env_clear .envelope_body{
    opacity: 0;
}
.PostcardView .envelope_top{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    transform-origin: center bottom;
    transform: translateY(-102%) rotateX(180deg);
    transition: 0.2s;
    z-index: 3;
}
.PostcardView .envelope_back{
    position: absolute;
    bottom: -3px;
    left: 0;
    width: inherit;
    opacity: 0;
    z-index: 1;
}
.PostcardView .envelope_body{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: inherit;
    z-index: 1;
    background-color: rgba(0,0,0,0);
}

.PostcardView .paper{
    position: absolute;
    left:50%;
    width: 90vw;
    z-index: 1;
    transition: .7s;
    top:10px;
    transform: translateX(-50%);
}
.PostcardView img{
    width: inherit;
}
.PostcardView .paper .img{
    position: relative;

}
.PostcardView .paper .img .text{
    position: absolute;
    top: 14.5%;
    left: 10%;
    width: 47%;

}
/*VkStyles*/
.PostcardView .paper .Div{
    padding: 0;
}
.PostcardView .paper .postcard-view-panel{
    margin: 0;
}
/*End VkStyles*/
.PostcardView .text p{
    display: grid;
    line-height: 122.9%;
    word-break: break-word;
    font-size: 67%;
    font-style: italic;
    color: white;
    letter-spacing: -0.3px;
    margin: 0;
}

.PostcardView .paper_perspective{
    /*transform-style: preserve-3d;*/
    transform: translateX(-50%);
    backface-visibility:hidden;
}

.PostcardView .paper_start{
    -webkit-animation: opening 3s ease-in-out forwards;
    -o-animation: opening 3s ease-in-out forwards;
    animation: opening 3s ease-in-out forwards;
}

/* Class Click*/
.PostcardView .paper_top_effect{
    top:-30px;
    cursor: n-resize;
    resize: horizontal;
    transition: .7s;
}

.PostcardView .envelope_open{
    transform: translateY(-96%);
    z-index: 1;
}
.PostcardView .env_scale{
    transition: .3s;
    transform: scale(0.8) !important;
}
.PostcardView .envelope_back_view{
    z-index: 1;
    -webkit-animation: blink_ones 0.01s 0.03s linear forwards;
    -o-animation: blink_ones 0.01s 0.03s linear forwards;
    animation: blink_ones 0.01s 0.03s linear forwards;
}

@keyframes blink_ones{
    from{opacity: 0;}
    to{opacity: 1;}
}
/*End Class Click*/

@keyframes opening{
    from{
        transform: perspective(1080px) translateX(-50%) translateY(0) rotateX(0deg) scale(1);
        z-index: 1;
    }
    1%{
        transform: perspective(1080px) translateX(-50%) translateY(0) rotateX(2deg) scale(1);
        z-index: 1;
    }
    30%{
        transform: perspective(1080px) translateX(-50%) translateZ(50px) translateY(-50%) rotateX(-60deg) scale(0.9);
        z-index: 1;
    }
    60%{
        transform: perspective(1080px) translateX(-40%) translateZ(275px) translateY(-38%) rotateX(15deg) scale(0.9);
        z-index: 999;
    }
    75%{
        transform: perspective(1080px) translateX(-31.5%) translateZ(400px) translateY(0%) rotateX(0deg) scale(0.9);
        z-index: 999;
    }
    to{
        transform: perspective(1080px) translateX(-31.5%) translateZ(400px) translateY(0%) rotateX(0deg) scale(0.95);
        z-index: 999;
        top:-30px;
    }
}

/*Media*/
@media (max-width: 1024px) {
    /*.PostcardView .envelope{*/
    /*    transform: translateY(20%) scale(0.7);*/
    /*}*/
}