@font-face {
    font-family: 'PT Astra Serif';
    src: local('PT Astra Serif Regular'), local('PTAstraSerif-Regular'), url('Ptastraserifregular.woff2') format('woff2'), url('Ptastraserifregular.woff') format('woff'), url('Ptastraserifregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Astra Serif';
    src: local('PT Astra Serif Italic'), local('PTAstraSerif-Italic'), url('Ptastraserifitalic.woff2') format('woff2'), url('Ptastraserifitalic.woff') format('woff'), url('Ptastraserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Astra Serif';
    src: local('PT Astra Serif Bold'), local('PTAstraSerif-Bold'), url('Ptastraserifbold.woff2') format('woff2'), url('Ptastraserifbold.woff') format('woff'), url('Ptastraserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Astra Serif';
    src: local('PT Astra Serif Bold Italic'), local('PTAstraSerif-BoldItalic'), url('Ptastraserifbolditalic.woff2') format('woff2'), url('Ptastraserifbolditalic.woff') format('woff'), url('Ptastraserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
