@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Settings colors: */
:root{
    --newyear_header_font_color_important: #38597D;
    --newyear_header_font_color: #38597D;

    --newyear_textarea_focus:#0080FF;
    --newyear_textarea_background:#F2F3F5;
    --newyear_textarea_background_on_border:#D5D6D8;
    --newyear_textarea_text_color:#000000;
    --newyear_textarea_text_color_add:#0080FF;

    --newyear_bbbu_secondary:#F2F3F5;
    --newyear_bbbu_secondary_text:#0080FF;

    --newyear_snowman_fill:#3f8ae0;
    --newyear_snowman_text:#818c99;
}

body[scheme="space_gray"], body[scheme="client_dark"]{
    --newyear_header_font_color: #EDEEF2;

    --newyear_textarea_focus:#5C6879;
    --newyear_textarea_background:#2C2D2F;
    --newyear_textarea_background_on_border:#2C2D2F;
    --newyear_textarea_text_color:#EDEEF2;
    --newyear_textarea_text_color_add:#0080FF;

    --newyear_bbbu_secondary:#83ACE3;
    --newyear_bbbu_secondary_text:#1B1E13;

    --newyear_snowman_fill:#EDEEF2;
    --newyear_snowman_text:#EDEEF2;

}
/*End Settings colors:*/
.Tabbar{
    height: auto;
    background: none;
}
body{
    max-height: 100vh !important;
    overflow: hidden !important;
    background: none !important;
}

*::-webkit-scrollbar{
    display: none !important;
}

.header-screen.PanelHeader .PanelHeader__fixed, .header-screen .PanelHeader{
    background: none !important;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    font-family: "Inter", serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5488B4;
}
.header-screen header span{
    font-size: 28px;
    line-height: 31px;
    font-family: "PT Astra Serif", serif !important;
    font-style: normal;
    font-weight: bold;
    color: var(--newyear_header_font_color);
}
.blue_background_gradient .header-screen header span{
    color: var(--newyear_header_font_color_important) !important;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.header-screen header .nav_icon{
    margin-right: 12px;
    width: 32px;
    display: inline-block;
    position: relative;
    height: 17px;
}
.header-screen header .nav_icon .nav_icon_item{
    height: 32px!important;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.anyheadericon{
    width: 32px;
    height: 32px;
}
.blue_background_gradient .anyheadericon .Icon svg{
    color: #3f8ae0 !important;
}
.mailIcon{
    position: relative;
}
.mailIcon img{
    width: inherit;
    height: auto;
}
.mailIcon .counter{
    position: absolute;
    height: 18px;
    width: 18px;
    top:-3px;
    right:-3px;
    background-color: #FF5258;
    border-radius: 50%;
    color: white;
    margin:auto;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-family: "Inter" !important;

}
.blue_background_gradient{
    background: linear-gradient(119.91deg, #B3CCFF -13.72%, #B3D9FF 50.6%, #BFEAFF 105.42%);
}
.postcard-menu.envelope-postcard .postcard-menu-item{
    margin-top: 0;
    z-index: 3;
}
.postcard-menu.envelope-postcard{
    z-index: 3;
}
.postcard-menu > div.Gallery{
    padding: 12px 0;
}
.postcard-menu .Gallery__slide:first-child{
    margin-left: 24px;
}
.postcard-menu .Gallery__slide:last-child{
    margin-right: 48px;
    padding-right: 48px;
}

.postcard-menu .Gallery__slide{
    margin: 0 -4px;
}
.postcard-menu .Gallery__slide .gallery__container{
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important;
}
.postcard-menu .postcard-menu-item{
    border-radius: 15px;
    background-color: #414D70;
    transition: .3s;
    position: relative;
    margin: 0;
}

.postcard-menu .postcard-menu-item.active{
    transform: scale(1.01428571429);
}

.postcard-menu .postcard-menu-item .text-block{
    margin: 0 12px 11px 12px;
    position: relative;
    top: 11px;
    padding: 12px 16px;
    background-color: #E2E9FF;
    border-radius: 15px;
    color: #404C70;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    max-height: 190px;
    overflow-y: scroll;
}
.postcard-menu .postcard-menu-item .text-block .text{
    display: block;
}
.postcard-menu .postcard-menu-item .edit{
    width: 44px;
    height: 44px;
    background: #FFEE97;
    box-shadow: 0 2px 8px rgba(64, 76, 112, 0.3);
    border-radius: 15px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 99;
}
.postcard-menu .elements__dots, .envelope__container .envelope__base__index, .postcard-menu .Gallery__slide .gallery__container{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}
.postcard-menu .elements__dots .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 4px;
    transition: .3s;
}
.postcard-menu .elements__dots .dot.active{
    width: 14px;
    background-color: #5670BE;
    border-radius: 20px;
    display: inline-block;
}

.button_blue_ui{
    padding: 0 30px 16px 30px !important;
    height: 47px;
    box-sizing: content-box;
}
.button_blue_ui_secondary, .button_blue_ui_primary{
    height: 47px;
    box-sizing: content-box;
}
.button_blue_ui_secondary{
    padding: 16px 0 !important;
}
.button_blue_ui_primary{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.button_blue_ui button, .button_blue_ui_secondary button, .button_blue_ui_primary button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    border: none;
    border-radius: 10px;
}
.button_blue_ui_secondary button, .button_blue_ui_primary button{
    display: block !important;
    flex-direction: unset;
}
.button_blue_ui button{
    background: linear-gradient(0deg, #0080FF 0%, #81C0FF 119.15%);
    box-shadow: 0 3px 10px rgba(0, 128, 255, 0.3);
}
.button_blue_ui.orange button{
    background: linear-gradient(3.41deg, #FF8C1A -19.1%, #FFD70D 91.25%);
    box-shadow: 0 3px 10px rgba(255, 170, 51, 0.4);
}
.button_blue_ui_secondary button{
    background-color: var(--newyear_bbbu_secondary);
}
.button_blue_ui_primary button{
    background-color: #0080FF;
}
.button-down{
    position: absolute;
    top: 0;
    transition: .3s;
    width: 100%;
}
.button-down.hide{
    top: 1000%;
}
.button_blue_ui button .text{
    font-family: "Playfair Display" !important;
    font-style: italic;
    font-weight: 700;
    font-size: 18px !important;
    color: white;
    line-height: 47px;
}
.button_blue_ui_secondary button .text, .button_blue_ui_primary button .text{
    font-family: "Inter" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--newyear_bbbu_secondary_text);
    line-height: 47px;
}
.button_blue_ui_primary button .text{
    color: white !important;
    font-weight: bold;
}

.button_blue_ui button .text-icon, .button_blue_ui_secondary button .text-icon{
    display: inline-block;
    margin-left: 6px;
    top: 5px;
    position: relative;
}
.button_blue_ui_secondary button .text-icon{
    margin-left: 0 !important;
    margin-right: 6px;
    position: relative;
    top:3px;
    transform: rotate(45deg);
}
.button_blue_ui_secondary button .text-icon .Icon svg{
    color: var(--newyear_bbbu_secondary_text) !important;
}
.DivElementMargin__default{
    padding: 16px;
}
.editable__textarea .Textarea{
    background: var(--newyear_textarea_background);
    border: 1px solid var(--newyear_textarea_background_on_border);
    box-sizing: border-box;
    border-radius: 15px;
    outline-color: var(--newyear_textarea_background);
    padding-bottom: 24px;
    overflow: auto;
    color:var(--newyear_textarea_text_color) !important;
}
.editable__textarea .textarea{
    overflow: auto;
}
.editable__textarea textarea, .editable__textarea .textarea{
    background: none;
    border:none;
    box-sizing: border-box;
    outline:none;

    font-family: "Inter", serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    padding: 12px;
}
.editable__textarea .textarea .add{
    color: var(--newyear_textarea_text_color_add);
    font-weight: bold;
}
.editable__textarea .Textarea:focus-within{
    border: 1px solid var(--newyear_textarea_focus);
}

.editable__textarea .Textarea .counter-word{
    position: absolute;
    right: 12px;
    bottom: 4px;
    font-family: "Inter", serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3B3;
}

.envelope__container{
    margin: 32px auto 24px auto;
    transition: .45s;
}
.envelope__container .envelope_move{
    position: relative;
    -webkit-box-shadow: 5px 20px 80px rgba(38, 147, 255, 0.6);
    -moz-box-shadow: 5px 20px 80px rgba(38, 147, 255, 0.6);
    box-shadow: 5px 20px 80px rgba(38, 147, 255, 0.6);
    transition: .8s;
    z-index: 4;
}
.envelope__container .envelope__base{
    width: 100%;
    height: 100%;

    background: linear-gradient(116.76deg, #66BFFF 7.53%, #1A9FFF 66.76%);
    position: relative;
    z-index: 5 !important;
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}
.envelope__container.perspective{
    -webkit-transform: rotateX(62deg) rotateY(-1deg) rotateZ(46deg) translateY(0px) scale(0.8);
    -moz-transform: rotateX(62deg) rotateY(-1deg) rotateZ(46deg) translateY(0px) scale(0.8);
    -ms-transform: rotateX(62deg) rotateY(-1deg) rotateZ(46deg) translateY(0px) scale(0.8);
    -o-transform: rotateX(62deg) rotateY(-1deg) rotateZ(46deg) translateY(0px) scale(0.8);
    transform:  rotateX(62deg) rotateY(-1deg) rotateZ(46deg) translateY(0px) scale(0.8);
}
.postcard-anima-1 {
    animation: flip-postcard-2-hor-top-1 3.8s ease-in-out both;
}
.postcard-anima-2 {
    animation: move-envelope-out 1s ease-in-out both;
}
.postcard-anima-1-text{
    animation: flip-postcard-2-hor-top-1-text 3.8s ease-in-out both;
}
.center_output_faces{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@keyframes flip-postcard-2-hor-top-1 {
    0% {
        transform: translateY(0) rotateX(0);
        transform-origin: 50% 0;
    }
    25% {
        transform: translateY(-250%) rotateX(0);
        transform-origin: 50% 32%;
    }
    45% {
        transform: translateY(-300%) rotateX(-180deg);
        transform-origin: 50% 100%;
        background-image: none;
    }
    75% {
        transform: translateY(250%) rotateX(-180deg);
        transform-origin: 50% 100%;
        background-image: none;
    }
    100% {
        transform: translateY(0) rotateX(-360deg);
        transform-origin: 50% 0;
    }
}
@keyframes flip-postcard-2-hor-top-1-text {
    0% {opacity: 1;}
    25% {opacity: 1;}
    45% {opacity: 0;}
    90% {opacity: 0;}
    91% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes move-envelope-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    75%{
        transform: translateY(375%);
        opacity: 1;
        display: none;
    }
    100% {
        transform: translateY(500%);
        opacity: 0;
        display: none;
    }
}
.envelope__container .envelope__top{
    top:0;
    padding: 0;
    position: absolute;
    left: 0;
    transform: perspective(1600px);
    z-index: 7!important;
}
.envelope__container .envelope__top img{
    position: relative;
    top: 0;
    transition: .5s;
    transform: rotateX(0deg);
    transform-origin: top;
}
.envelope__container .envelope__top.open{
    z-index: 0 !important;
}
.envelope__container .envelope__top.open img{
    transform: rotateX(180deg);
    position: relative;
    top: 1px;
}
.envelope__container .envelope__top img{
    width: inherit;
    height: inherit;
}
.envelope__container .envelope__base__header{
    width: 100%;
    text-align: center;
    top: 23.07%;
    position: absolute;
}
.envelope__container .envelope__base__title{
    width: 65%;
    left: 24px;
    bottom: 0;
    position: absolute;
}
.envelope__container .envelope__base__index{
    justify-content: left;
    margin-top: 18px;
    margin-bottom: 24px;
}
.envelope__container .envelope__base__index img:first-child{
    margin-left: 0 !important;
}
.envelope__container .envelope__base__index img:last-child{
    margin-right: 0 !important;
}
.envelope__container .envelope__base__index img{
    margin: 0 5px !important;
}
.envelope__container .envelope__base__index .index__container{

}
.envelope__container .envelope__base .first_text{
    font-family: "PT Astra Serif", serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;

    color: white;
    text-transform: uppercase;
}
.envelope__container .envelope__base .block_names_avatar:first-child{
    margin-bottom: 8px;
}
.envelope__container .envelope__base .avatar{
    margin-right: 8px;
}
.envelope__container .envelope__base .second_text{
    font-family: "PT Astra Serif", serif !important;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin-bottom: 4px;
}
.envelope__container .envelope__base .title_text{
    font-family: "PT Astra Serif", serif !important;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: white;
}

#spinner{
    z-index: 999;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background_content);
}
#link-to, #postcard-new-link{
    display: none;
}
a{
    text-decoration: none;
    color:inherit;
}

.Empty{
    position: fixed;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.Empty__icon > .Logo {
    margin: 20px auto;
}
.Empty__icon > .Logo svg{
    height: 226px;
    width: 226px;
}
.Empty__icon > .Logo svg g{
    fill:var(--newyear_snowman_fill) !important;
}
.Empty__text{
    color:var(--newyear_snowman_text);
}
.PostcardAddNew{
    margin: auto;
    right: 24px;
    height: 42px !important;
    width: 42px !important;
    color: #008cff;
}
.Textarea textarea{
    max-height: 620px;
}
.UpInputGroupName{
    color: #818c99;
    padding: 2px 16px;
}

.card-item{
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 5px;
    padding: 12px;
    min-height: 86px;
    position: relative;
    z-index: 2;
    background-color: #ccc;
    -webkit-box-shadow: 6px 4px 11px -5px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: 6px 4px 11px -5px rgba(34, 60, 80, 0.17);
    box-shadow: 6px 4px 11px -5px rgba(34, 60, 80, 0.17);
}
.card-item .new{
    color: var(--dynamic_blue);
    font-weight: bold;
}

#step-three, #postcard_view, #step-final{
    height: 100vh;
    overflow: hidden;
}

.postcard-preview-panel{
    display: flex;
}

.postcard-preview-panel .postcard-preview-item{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 4px 7px;
    transition: .3s;
}
.postcard-preview-panel .postcard-preview-item:first-child{
    padding-left: 0;
}

.postcard-preview-panel .postcard-preview-item:last-child{
    padding-right: 0;
}
.postcard-preview-item.active{
    border-radius: 8px;
}
.postcard-preview-panel img{
    transition: .3s;
    border-radius: 8px;
    border: solid 3px transparent;
}
.postcard-preview-panel .active > img{
    border-radius: 8px;
    border: 3px solid #ff920d;
    transform: scale(1.1);
}

.postcard-three-panel{
    position: relative;
    /*transform: perspective(1600px) scale(0.5) translateY(100%); !*Todo: Change*!*/
    transform: perspective(1600px);
}

.postcard-view-panel.loading{
    /*background-color: #fff !important;*/
}

.postcard-view-panel{
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 42px;
    transition: .3s;
    perspective: 1000px;
}
.postcard-view-panel .front, .postcard-view-panel .back{
    width: 100%;
    height: 100%;
}
.postcard-view-panel .back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(40, 52, 68);
}
.postcard-view-panel__layout{
    border-radius: 35px;
    position: relative;
    min-height: 50px;
    background: transparent;
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 30px 0 rgba(3, 104, 204, 0.8);
    -moz-box-shadow: 0 5px 30px 0 rgba(3, 104, 204, 0.8);
    box-shadow: 0 5px 30px 0 rgba(3, 104, 204, 0.8);
    backface-visibility: hidden;
    transition: 1s;
}
.postcard-view-panel__layout.back{
    transform: rotateY(180deg);
}
.postcard-view-panel.backplace .back{
    transform: rotateY(360deg);
}
.postcard-view-panel.backplace .front{
    transform: rotateY(180deg);
}
.postcard-view-back{
    position: relative;
    height: inherit;
}
.postcard-view-back .first, .postcard-view-back .second{
    position: absolute;
    font-size: 24px;
    color:#fff;
}
.PostcardViewScreen .postcard-view-back .first, .PostcardViewScreen .postcard-view-back .second{
    font-size: 18px;
}
@media (max-width: 440px) {
    .postcard-view-back .first, .postcard-view-back .second{
        font-size: 16px !important;
    }
}
.postcard-view-back .mark-index{
    top: 14%;
    right: 7%;
    height: 50px;
    position: absolute;
    z-index: 99;
}
.postcard-view-back .first{
    top: 14%;
    left: 7%;
    width: 57%;
}
.postcard-view-back .second{
    text-align: right;
    bottom: 14%;
    right: 7%;
}
.postcard-view-panel__text{
    width: 50%;
    top: 14%;
    left: 7%;
    position: absolute;
    padding: 6px;
    z-index: 99;
    color: white;
    font-family: 'PT Serif', serif;
    text-decoration: underline;
    border-radius: 5px;
    font-size: 16px;
}
@media (max-width: 500px) {
    .postcard-view-panel__text{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .postcard-view-panel__text{
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    .postcard-view-panel__text{
        font-size: 11px;
    }
    .postcard-top-open-text{
        position: relative;
        top: 15px;
        font-size: 14px;
        margin: 0;
    }
}
@media (max-width: 320px) {
    .postcard-view-panel__text{
        font-size: 10px;
    }
}
.PostcardViewScreen .postcard-view-panel-back__text{
    font-size: 12px;
}
.postcard-view-panel__text.background_two{
    background-color: rgba(40, 52, 68, .58);
}

.postcard-view-panel__layout img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto;
}

.MarkItem--view img{
    width: auto;
    height: inherit;
}

.PostcardViewScreen{
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}